body, 
p, 
input {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
}

.item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item input {
    width: 190px;
}

.select {
    cursor: pointer;
}

.options {
    position: absolute;
    width: 190px;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    border: 1px solid #000;
    border-radius: 8px;
    background: #fff;
    z-index: 1;
    padding: 5px;
}

.option:hover {
    background-color: tomato;
    color: #fff;
    cursor: pointer;
}
